DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
NEXT_PUBLIC_API_URL= # Api al backend

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=

# auth con google:
GOOGLE_CLIENT_ID=google_id
GOOGLE_CLIENT_SECRET=google_secret

# email permitidos para ser admin desde la funcion de admin para modificar que sea admin un user
ADMIN_EMAILS=admin_emails

# codigo de seguridad del sendgrid para enviar las notificaciones al email:
SENDGRID_API_KEY=